<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lmiot.BraceletDemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.lmiot.BraceletDemo.Activity.MainActivity" android:screenOrientation="portrait"/>
        <!--蓝牙手环-->
        <activity android:name="com.lmiot.BraceletDemo.Activity.BluetoothScanActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.SunActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.HeartrRateActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.ChooseTestactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.TiredTestactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.TiredTestDetailActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.GoalSettinctivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.Moonactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.Trendactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.Clockactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.Detialactivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name="com.lmiot.BraceletDemo.Activity.HeartRateDatailActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <service android:name="com.lmiot.BraceletDemo.Service.BraceletService"/>
        <receiver android:name="com.lmiot.BraceletDemo.Receiver.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lmiot.BraceletDemo.Receiver.MsgReceiver" >
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
